p 「デザインにはセンスが必要だ」「自分には生まれ持ったセンスがないからデザインに向いていない」という話をよく耳にします。果たして、センスがなければ良いデザインはできないのでしょうか？
p
  | いわゆる「良いデザイン」というものは、得てして受け取る人に負担をかけないような作りになっていることが多いです
  span.footnote すべてが該当するとは限りません
  | 。そこでこの記事では、ヒューマンインタフェースの観点から良いデザインを考え、センスに対抗できる――あるいはセンスを補完する――スキルを習得してみようと思います。もちろん良いデザインかどうかは見た目だけで判断できるものではありませんが、ここでは見た目にフォーカスした話をします。

nav.toc
  ol
    li
      a(href="#design_theory-first") はじめに
      ol
        li: a(href="#design_theory-first-about") この記事の構成
        li: a(href="#design_theory-first-license") ライセンス
        li: a(href="#design_theory-first-words") 用語の定義
    li
      a(href="#design_theory-theory") 理屈編
      ol
        li: a(href="#design_theory-theory-sence") 人間の感覚特性
        li: a(href="#design_theory-theory-structure") 見やすい構造とは
        li: a(href="#design_theory-theory-vision") 2種類の視野
        li: a(href="#design_theory-theory-color") 色覚は万能か？
        li: a(href="#design_theory-theory-memory") 記憶を頼りに
    li
      a(href="#design_theory-try") 実践編
      ol
        li: a(href="#design_theory-try-equality") キーワードは「均等」
        li: a(href="#design_theory-try-itemize") 箇条書きは諸刃の剣
        li: a(href="#design_theory-try-figure") 雰囲気に合った図を作る
        li: a(href="#design_theory-try-memory") 短期記憶に負担をかけない
    li: a(href="#design_theory-conclusion") まとめ
    li: a(href="#design_theory-reference") 参考文献
