h2#design_theory-first はじめに

h3#design_theory-first-about この記事の構成
.frame
  p テーマ：ヒューマンインタフェースの観点から（特性や数値などを根拠に）理屈でわかる「良いデザイン」を探る
p
  a(href="#design_theory-theory"): strong 理屈編
  | では、ヒューマンインタフェースの観点から「良いデザイン」を構成するために役立つモデルや理論を紹介します。すべてを細かに覚えておく必要はありませんので「こんなものがあったかなぁ」と頭の片隅に置いておき、適宜参照してください。
p
  a(href="#design_theory-try"): strong 実践編
  | では、理屈編で紹介したものの一部を用いて、いくつかのテーマに沿って実際に既存のデザインの改善を試みます。テーマには実用的なもの（発表用スライド）をピックアップしました。日常のちょっとしたデザインをする際、お役に立てば幸いです。

h3#design_theory-first-license ライセンス
p
  | 実践編で使われている図は全て 
  strong CC BY 3.0
  span.footnote: a(href="https://creativecommons.org/licenses/by/3.0/deed.ja") https://creativecommons.org/licenses/by/3.0/deed.ja
  |  とします。

h3#design_theory-first-words 用語の定義
p この記事で使う用語を定義しておきます。
ul
  li
    | デザイン
    p
      | グラフィックデザイン。図形、画像、文字などの要素をスペース
      span.footnote ここでは二次元平面
      | に配置したり配色したりして、情報の視覚的な伝達を目的とする。
  li
    | ヒューマンインタフェース（HI）
    p 人間と機械が繋がる部分の、人間が触れる側。コンピュータで言うと、画面、マウスなどの入力装置、ソフトウェア、さらには扱う人間の心理なども含まれる。
