h2#design_theory-theory 理屈編

h3#design_theory-theory-sence 人間の感覚特性
p この記事では主に視覚の話をします。ところで視覚というのは、感覚器が通常の細胞から特定の機能を持つ特別な形へと変化し、特定の位置に存在するようになったものです。具体的には、目は視細胞の集まりとして顔の前面にありますね。このように細胞レベルで特別な変化を遂げた感覚は特殊感覚と呼ばれます。表1を見ると、視覚受容器から入る情報は他の受容器と比べてかなり多いことが分かります。
figure
  table
    caption
      | 感覚の分類
      span.footnote 「視聴覚情報概論」
    tr.header
      th 特殊感覚の種類
      th 受容器
      th 数
    tr
      td 視覚
      td 網膜（視細胞）
      td
        :inmath
          \( 10^8 \)
    tr
      td 聴覚
      td 蝸牛（有毛細胞）
      td
        :inmath
          \( 3 \times 10^4 \)
    tr
      td 嗅覚
      td 嗅粘膜（嗅細胞）
      td
        :inmath
          \( 10^7 \)
    tr
      td 味覚
      td 味蕾（味細胞）
      td
        :inmath
          \( 10^7 \)
    tr
      td 平衡感覚
      td 半規管（有毛細胞）
      td -
p これらの感覚はそれぞれ、光、音、化学的、物理的な刺激に反応し、刺激は電気信号に変換され神経に送られます。以下に、人間の感覚と刺激に関する法則を示します。
.column2
  div
    .frame
      strong フェヒナー（Fechner）の法則
      p.right
        :inmath
          \( R = k log S \)
        br
        | （
        :inmath
          \( R \)
        | : 感覚量、
        :inmath
          \( S \)
        | : 刺激量、
        :inmath
          \( k \)
        | : 定数）
    p 例えば、明るさが2倍になっても2倍明るくなったようには感じません。またグラフより、明るければ明るいほど更に明るくなったことが分かりにくいと言えます。このことから光の強度によってレベルなどを示すのは人間にとって不適切であると分かります。
  figure
    img(src="assets/design_theory/sence.png")
    figcaption フェヒナーの法則

h3#design_theory-theory-structure 見やすい構造とは
.frame
  p ゲシュタルト特性：近い場所にある要素や、似た形や色をもつ要素を、グループとしてひとまとめに見る、人間の特性
p あなたは果物屋さんへリンゴを買いに来ました。棚にはリンゴ、モモ、バナナ、ブドウがきれいに並んでいて、あなたはすぐにリンゴを手に取ることができます。もしこれらの果物がみんなごちゃ混ぜに置かれていたらどうでしょうか。一瞬戸惑ったり、なかなかリンゴが見つからなかったり、間違えてモモを手に取ってしまうかもしれませんね。
p
  | ごちゃ混ぜに並んだ果物も鮮やかで美しいですが、その中から特定の物を見つけるには不便であることが分かります。これには、人間の目が物をまとまりとして捉えようとする
  strong 群化
  | の性質が関係しています。群化には複数の要因があり、それぞれが複雑に関係して知覚に影響を及ぼします。表2に、群化の要因をいくつか挙げます。
table
  caption 群化の要因例
  tr.header
    th 要因名
    th 特徴
  tr
    td: strong 近接
    td 距離の近い物同士でまとまって捉えようとする
  tr
    td: strong 類同
    td 色、形、大きさ、模様などの近い性質を持った物同士でまとまって捉えようとする
  tr
    td: strong 閉合
    td 閉じているものを一つのまとまりとして捉えようとする
p これらに沿ったデザインは人間に優しい、つまり（本能的に）見やすいデザインと言えるでしょう。

h3#design_theory-theory-vision 2種類の視野
.column2
  p
    | 人間の周辺視野の視力は0.1程度しかないと言われています。非力な周辺視野を支えているのが
    strong 中心窩
    | と呼ばれる部分で、人間の視野の空間分解能はこの中心窩が一番高くなっています。面積は網膜と比較して約1/100しかありませんが、中心窩には周縁部のなんと約17.5倍もの錐体細胞（光を感じ取る細胞）が存在します。人間がある一点を集中して見つめるときも、実は左右の目が絶えず素速く約 3回/秒 のペースで動き、中心窩を周囲の物に向けて焦点を合わせているのです。
  figure
    img(src="assets/design_theory/eye.png")
    figcaption 目の構造
p これだけ聞くと中心窩一強に思えますが、周辺視野にも得意なことはあります。動きを感知することがその一つです。デザインの際はこれらの短所や長所を踏まえる必要があります。
p
  | 例としてフォームのエラー表示を挙げます。よく「エラーメッセージはユーザが見ている付近に表示せよ」と言われますが、これは離れた場所にメッセージが表示されると非力な周辺視野では認識できないからです。ユーザがボタンをクリックするときはそのボタンを注視していると予想されるため、中心窩の担当場所
  span.footnote 中心窩が向けられるのは直径わずか1~2cmの範囲内と言われています
  | つまりボタン付近にメッセージを出すのが良いと考えられます。あるいはまだ入力フォームを注視している間、実際には入力ミスの直後、該当フォーム付近にメッセージを表示すればもっと人間に優しいですね。周辺視野の得意を活かすなら、揺れや点滅などのエフェクトを使うのも効果的です。

h3#design_theory-theory-color 色覚は万能か？
.column2
  p
    | 視覚に関する受容器である網膜には桿体と錐体という2種類の光受容細胞があり、
    strong 桿体細胞
    | は光の強さを、
    strong 錐体細胞
    | は色を感知しています。ほとんどの場合、錐体細胞からの入力情報だけを頼りに色の情報を処理しています
    span.footnote 桿体細胞は弱い光のもと（暗い場所）でしか機能しないため、実はあまり使われていません
    | 。錐体細胞は3種類あり、それぞれ得意な分野を担って役割分担ができています。
  figure
    img(src="assets/design_theory/colors.png")
    figcaption 錐体細胞の役割分担
table
  caption
    | 錐体細胞の種類
    span.footnote 「UIデザインの心理学―わかりやすさ・使いやすさの法則」pp.63
  tr.header
    th 錐体
    th 特徴
  tr
    td L錐体
    td
      | 低周波に対する感度が良い
      br
      | 可視光線のほぼ全体を感知する
      br
      | 中周波（黄）と低周波（赤）に対する感度が良い
  tr
    td M錐体
    td
      | 中周波に対する感度が良い
      br
      | 高周波の青から中周波の黄とオレンジまでを感知する
      br
      | L錐体ほど感度が良くない
  tr
    td S錐体
    td
      | 高周波に対する感度が良い
      br
      | 紫や青といった高周波部を受け持つが、緑など中周波にも若干反応する
      br
      | 感度がほかの2種類より悪く、数も少ない
p 図のようにS錐体は他と比較して数が少なく感度も悪いため、人間の目は基本的に青や紫に対する感度が鈍いと言えます。特定の錐体細胞が無いか担当する波長がずれている場合は、3種類の錐体が揃っている場合と色が異なって見えます。赤を司るL錐体が充分でないとP型色覚、緑を司るM錐体が充分でないとD型色覚、青を司るS錐体が充分でないとT型色覚、錐体が1種類のみ存在するか3種類すべて揃っていないとA型色覚、すべて揃っているとC型色覚と呼ばれます。色弱のほとんどはP型かD型で、合計で男性全体の約5%を占めています。T型とA型に該当する人は極めて少ないとされています。
p
  | 色の識別能力は色の表示方法に大きく左右されます。以下は識別が困難になる可能性のある色の表示方法です。
  ul
    li
      | 白背景にクリーム色のアクセントなど、
      strong 淡色同士
      | によるデザイン
    li
      strong 細い文字
      | で書かれた文章に黒を割り当て、URLなど文章の一部に青を割り当てる（青は特に人間にとって識別しにくい色でしたね）
    li
      | 色のついたグラフ本体から
      strong 離れたところ
      | に凡例が用意されていて、そこで色と項目の説明がなされている（視線を移動しつつ似た色を区別するのは難しいものです）
p このように人間の色覚には限界があります。したがって色だけに頼るのでなく、文字の太さや下線、枠囲い、書体の変化などを利用して識別を容易にする努力が求められます。例えば駅の時刻表などは枠や斜体などを使って、色覚だけに頼らない工夫をしていますね。

h3#design_theory-theory-memory 記憶を頼りに
p
  | 人間が受け取った情報をどのように処理して行動しているのかは、ユーザインタフェースを考えるにあたって知っておくべき事項です。このモデルとして広く知られているものに
  strong モデルヒューマンプロセッサ
  | があります。モデルヒューマンプロセッサは知覚・認知・運動の3つのプロセッサを持ち、視聴覚イメージ貯蔵庫・長期記憶・短期記憶といった記憶領域を用いて、感覚器から入ってくる情報を処理し、運動器から行動として出力する処理フロー型のモデルです。ここでは記憶領域、特に長期記憶と短期記憶の話をします。
p
  strong 長期記憶
  | は数時間、数日、あるいは一生涯といった長期の情報保持を担当する記憶機能です。対して
  strong 短期記憶
  | は1秒以下から2〜3分という短期間だけの情報保持を受け持つ機能です。以前の通説として、脳内の短期記憶のための場所は長期記憶とは別にあるとされていましたが、最近の研究でこれらは単一の記憶系の機能であるとされています。
p 知覚内容は感覚系から入力され、視覚野や聴覚野などを刺激して反応を引き起こし、それから脳内の他領域に広がっていきます。脳内では、感覚の種類に特化した領域はデータの単純な特徴（明暗の境界、斜めの線、周波数の高い音、酸味、赤色、右への動きなど）のみを検出しています。そのデータが流れてくるもっと下流の脳領域において、下位レベルの特徴を統合して高位レベルの特徴（単語、危険な兆候、正しさなど）が検出されます。
figure
  img(src="assets/design_theory/memory1.png")
  figcaption 知覚内容の処理フロー
p 記憶が作成されるということは、神経の活動パターンに関わるニューロンが変化して、将来そのパターンが再活性化されやすくなることを意味します。ニューロンパターンが再活性化される回数が多いほど結合は強く（再活性化しやすく）なるため、対応する知覚内容は認識されやすく、思い出しやすくなるのです。
figure
  img(src="assets/design_theory/memory2.png")
  figcaption 記憶パターンの再活性化
p しかし長期記憶には間違いが多いのも事実です。長期記憶は高度の圧縮をかけられたデータで、多くの情報が落ちてしまうからです。長期記憶の欠点はユーザインタフェースに一貫性をもたせることで補うことができます。例えば、テキストエディタAではテキストを保存するのに Ctrl-S を押すのに対して、テキストエディタBでは Ctrl-W が保存の役割を担っているとすると、長らく使っていなかった場合どのキーを押せばいいのか思い出せなくなるかもしれません。このような場合は一般に広く使われている方（Ctrl-S）を採用すれば、ユーザの長期記憶に負担をかけずに済みます。
br
p 知覚系から得られた情報や再活性化された長期記憶のほんの一部が、短期記憶の主な構成要素である作業記憶です。作業記憶とは、注意の対象であると言えます。ここでは、作業記憶の性質について述べます。
.frame
  p
    | 人間の作業記憶に同時に保持できる互いに無関係な項目の数の限界は「魔法の数7 プラスマイナス2」
    span.footnote Miller, G.A., The magical number seven, plus or minus two: Some limits on our capacity for processing information, 1956.
p
  | 項目とは、現在知覚したことと想起された記憶（目標、数、言葉、名前、音、映像など、意識にのぼるものなら何でも）のことです。後の研究によってこの値は大きすぎることが分かり、作業記憶の平均的容量は4プラスマイナス1 とされています
  span.footnote
    | Mastin, L., Short-term (working) memory. The human memory: What it is, how it works, and how it can go wrong, 2010. 
    a(href="http://www.human-memory.net/types_short.html") http://www.human-memory.net/types_short.html
  | 。数の限界に加えて、内容がすぐ消えてしまうのも作業記憶の性質です。割り込みが入ると、それまで何をしていたか忘れてしまったという経験はありませんか？　このような作業記憶（短期記憶）の欠点は手がかりの提示で補うことができます。例えばモードを持つシステムでは現在のモードを、決済などのフロー処理画面では今どの段階にあるのかを表示しましょう。Web ページのパンくずリストなども良い例です。
p
  | ところで試験などで穴埋め問題が出された時、語句を思い出して記述するのと選択肢から選ぶのとではどちらが簡単でしょう？　前者のように記憶内容をヒントなしに再現することを
  strong 再生
  | 、後者のように提示されたものの中から記憶内容を選択することを
  strong 再認
  | と呼びます。一般には再認のほうが人間にとって簡単だと言われています。コンピュータの操作で言うと、CUIでコマンドを入力するのは再生、右クリックなどでメニューを一覧表示するのは再認ですね。先述のように記憶というのは大変非力なものですから、なるべく再認タイプのインタフェースを用いたほうが、ユーザ、特に初心者にとって優しいと言えます。
