h2#design_theory-try 実践編
p
  | ここでは発表用スライドの改善
  span.footnote 情報設計はグラフィックデザインと不可分ですが、この記事の範囲外なため、既にある程度できているものとします。「今日からはじめる情報設計」が参考になります
  | を通して、理屈編で紹介した項目や紹介できなかった項目の実践を行っていきます。題材は論文紹介スライドの一部
  span.footnote 紙面の都合上、4枚のスライドに絞ってあります……
  | ですが、LT発表スライドやその他の資料、Webページなどにも十分応用できると思います。では見ていきましょう。

h3#design_theory-try-equality キーワードは「均等」
p 1枚目のコンテンツはタイトルと名前だけなので、レイアウトの自由度が上がります。こんな時に大事になってくるのが余白の扱い、スペーシングです。
p
  | 改善前（上）は、
  ul
    li ヘッダに目立つ青いラインがある
    li タイトルが頭でっかちな逆三角形になっている
    li 要素（タイトルと名前）が上に寄っている
  | ので、全体的に重心が上にあって不安定な印象を受けます。もしかしたらここで下の余白にイラストや別の文字を入れたくなる人もいるかもしれませんが、要素が増えるとバランスを整える難易度が上がるのでかえって逆効果です。
p
  | 不安定な違和感をなくすキーワードは「
  strong 均等
  | 」です。改善後（下）のスライドに画面を横3分割する線を引いてみました。このように画面を3つに均等分割して要素を配置するテクニックを
  strong 三分割法
  span.footnote 写真を撮影するテクニックでよく紹介されています。可能なら黄金比や白銀比を用いても良いでしょう
  | と言います。改善後のほうが安定して違和感のない見た目になったと思いませんか？　デザインに絶対的な正解はないのですが、私たちは様々なところで均等に配置されたものを見て、知らないうちにそれらを「違和感のないきれいな配置」として受け入れ、慣れているのではないでしょうか。違和感のないデザインは見る人をコンテンツに集中させられるため、伝えたい内容を伝えやすくします。
p
  | 「均等」に関連して「
  strong 揃っている
  | 」ことも重要です。文章の先頭、末尾、余白、色……などなど揃えられるものはなるべく揃えていきましょう。改善後の例ではタイトルを上下に挟む横線の長さとタイトルの最大幅が揃っているため、全体的に引き締まった印象を与えられます。中央揃えの少量テキストで、なんとなく揃ってないなぁと感じるものにはこのように揃えの線を入れるなどして強制的に「揃っている」状態を作り上げてしまいましょう。
p また、このスライドは横長なので、狭い縦幅をさらに狭めてしまうヘッダやフッダは取り除いて良いと思います。
figure
  img(src="assets/design_theory/try1.png")
  figcaption キーワードは「均等」

h3#design_theory-try-itemize 箇条書きは諸刃の剣
p 箇条書きは情報の整理に大変便利ですが、使いすぎて画面が箇条書きだらけになって「結局何が言いたかったんだ……」となってしまうことがあります。全体を通して箇条書きのコンテンツしかないと群化の要因「類同」が発動してしまい、どこに注目すればいいのか分からなくなってしまうのです。箇条書きを使いたくなったら、項目数と入れ子を減らせないか考えてみましょう。改善前の例では、箇条書きの一番上のレベルは並列な情報でないので、箇条書きにする必要がありません（項目数と入れ子の両方が減らせます！）。
p 加えて、これは個人の趣味なのですが、矢印は三角形で代用するとかなりシンプルになります。他にも「〜が良くない→これで良くなる！」といった流れをより推したいため三角形と丸を使って、文章を読まなくてもなんとなく流れが分かるようにしてみました。最後に前節で紹介した「均等」「揃っている」を適用して完成です。
figure
  img(src="assets/design_theory/try2.png")
  figcaption 箇条書きは諸刃の剣

h3#design_theory-try-figure 雰囲気に合った図を作る
p 改善前の図は吹き出しを使うことで群化の要因「閉合」が作用しているのが良いですが、型名を囲う小括弧が少し目立っています。そもそも文脈から数よりも型名を見せたいと考えられるので、型名を強調するデザインにしてみましょう。ここで「閉合」を引き継いでも良かったのですが、線が多くなるのでやめました。同じく群化の要因「近接」が作用しているため「閉合」を使わなくても充分まとまりが分かると判断したからです。
p 吹き出しを使う場合は、尖っている部分を伸ばしすぎると「近接」が作用しないので注意が必要です。また吹き出しの形も与える印象に大きく影響します。楕円形の吹き出しは文章が少ししか入らず、その割に幅をとるのでなるべく避けたいところです。代わりに角丸四角形を用いると良いでしょう。角を丸めるか尖らせるかも印象に関わるので、画面の他の要素と相談しながら色々な吹き出しを試してみてください。例えば四角型の要素を多用しているところに角丸の吹き出しが来ると少し浮いた感じになります。また、吹き出し内でも「均等」「揃っている」を適用することをお忘れなく！
p 改善後のスライドでは、図と文章の境界を作るために図に背景色をつけてみました。スライド全体の背景である白と調和する、目立ちすぎない色です。図も文章と同じ黒だと図の背景と調和しないので、色相を青寄りに変えてみました。黒と紺は似ているので、全体的に見ても違和感なく仕上がっているのではないでしょうか。
p
  | 色は、基本的に色相の近いものでまとめると違和感なくデザインできます
  span.footnote 識別性とのトレードオフになります
  | （群化の要因「類同」、ジャッドの色彩調和論「類似性の原理」）。色を選ぶには HUE/360
  span.footnote
    | HUE/360, 
    a(href="https://hue360.herokuapp.com/") https://hue360.herokuapp.com/
  | というサイトが便利です。
figure
  img(src="assets/design_theory/try3.png")
  figcaption 雰囲気に合った図を作る

h3#design_theory-try-memory 短期記憶に負担をかけない
p スライドでありがちなのが、画面が大量の文章で埋まってしまうことです。発表用スライドなら書かなくても良いことは書かずに口頭で話すなど代替案が考えられます。本筋から離れる話題や、書いておきたいが読まれなくても構わない場合は、字を小さくして画面の下の方に書いておくなどします。
p
  | 文章が多い場合は強調したい部分に下線を引いたり太文字にしたりするのも手です。S錐体は非力であるため、青系統の似た色相でアクセントカラーを作らないようにしましょう。注意喚起には警報ボタンや踏切などで使われている
  strong 警告色
  | と呼ばれる赤や黄が有効です。また、背景と文字など、要素が重なっている場合はコントラスト
  span.footnote
    | G18: テキスト (及び文字画像) とその背景の間に、少なくとも 4.5:1 のコントラスト比を確保する, 
    a(href="https://waic.jp/docs/WCAG-TECHS/G18.html") https://waic.jp/docs/WCAG-TECHS/G18.html
  | を考える必要があります。基本的には両者の色相を変える、加えて明度に変化をつけると良いです。あるいは文字に枠や影をつけたりするのも良いでしょう。
figure
  img(src="assets/design_theory/try4.png")
  figcaption 短期記憶に負担をかけない
