h2#design_theory-conclusion まとめ
ul
  li 困ったら理屈編の内容を思い出してみる
  li 感覚だけに頼らず、配置・色・大きさなどあらゆる要素にはすべて理屈（理由）をつけてみる
  li すてきなデザインを見かけたら「なぜすてきなのか」理屈を考えて次のデザインで使ってみる

h2#design_theory-reference 参考文献
ul
  li 「視聴覚情報概論」, 樋渡涓二 [編著], 1987/07, 昭晃堂.
  li 「UIデザインの心理学―わかりやすさ・使いやすさの法則」, Jeff Johnson [著], 武舎広幸 武舎るみ [訳], 2015/03/11, 株式会社インプレス.
  li 「エンジニアのための理論でわかるデザイン入門」, 伊藤博臣 [著], 2017/9/21, 株式会社インプレス.
  li 「イラストで学ぶ ヒューマンインタフェース」, 北原義典, 2011/9/13, 講談社.
  li 「ノンデザイナーズ・デザインブック」, Robin Williams [著], 吉川典秀 [翻訳], 2008/11/19, 毎日コミュニケーションズ.
  li 「今日からはじめる情報設計」, アビー・コバート [著], 長谷川敦士 [監訳], 安藤幸央 [翻訳], 2015/10/21, 株式会社ビー・エヌ・エヌ新社.
