nav.toc
  ol
    li: a(href="#design_two_sides-about") デザインとは？
    li
      a(href="#design_two_sides-meaning") デザインの意味
      ol
        li: a(href="#design_two_sides-meaning-detail") よく使う意味とあまり使わない意味
    li: a(href="#design_two_sides-purpose") 目的重視のデザイン
    li
      a(href="#design_two_sides-thinking") デザイン思考の考え方
      ol
        li: a(href="#design_two_sides-thinking-process") デザイン思考のプロセス
        li: a(href="#design_two_sides-thinking-insight1") 簡単に見せてくれないインサイト
        li: a(href="#design_two_sides-thinking-insight2") インサイトが分かればこっちのもんじゃい
        li: a(href="#design_two_sides-thinking-routine") プロセスはぐるぐる回す
    li
      a(href="#design_two_sides-two") デザインの二面性
      ol
        li: a(href="#design_two_sides-two-consultation") 後輩からのデザイン相談
        li: a(href="#design_two_sides-two-value") 新しい価値を提供するポスター
        li: a(href="#design_two_sides-two-meaning") 意味の住み分け
    li: a(href="#design_two_sides-conclusion") まとめ
