h2#design_two_sides-about デザインとは？
p 私は「デザインとは新しい価値を提供するもの」と定義しています。
p デザインという言葉、あなたはどんな意味で使っていますか？ 「この車のデザインかっこいいね」などなど普段からよく耳にする言葉だと思います。しかし、よく使う割に、具体的にデザインとはどういう意味か説明できる人は少ないでしょう。それは、デザインという言葉が様々な所で使われ、それぞれの場合によって微妙に異なるニュアンスを持つようになってしまったからです。
p もちろん、デザインに興味ない人が使う「デザイン」の意味と、デザイナーが思う「デザイン」の意味も異なっていると思います。今回はその「デザイン」の意味を整理しながら、「デザイン」の本質に迫りたいと思っています。
br
p ※私の専門は電気工学なので、デザイナーのプロの方のご意見の方が正しいと思います。もし間違っているようなことがあれば教えていただけると幸いです。

h2#design_two_sides-meaning デザインの意味
p 普段何気なく使っている「デザイン」という言葉ですが、どういった意味なのでしょうか。まずはデザインの意味を調べてみましょう。広辞苑には以下のように書いてありました。
ul.nostyle
  li ①下絵。素描。図案。
  li ②意匠計画。製品の材質・機能および美的造形性などの諸要素と、技術・生産・消費面からの各種の要求を検討・調整する総合的造形計画。
p ①の「下絵。素描。図案。」というのは、「デザイン」という言葉を使うときに、主によく解釈される意味ではないでしょうか。紙にペンでスケッチをしたり、色を塗ったり、ソフトを使って幾何学図形を描いたりする作業のことを、「デザインする」と言ったりしますね。
p
  | ②は少し難しいですね。要するに企画や計画のことです。「都市をデザインする」「快適な生活をデザインする」などの使用例があります。
  br
  | goo辞書では3つの意味に分けて説明されていました。
ul.nostyle
  li ① 建築・工業製品・服飾・商業美術などの分野で、実用面などを考慮して造形作品を意匠すること。「都市をデザインする」「制服をデザインする」「インテリアデザイン」
  li ② 図案や模様を考案すること。また、そのもの。「家具にデザインを施す」「商標をデザインする」
  li ③ 目的をもって具体的に立案・設計すること。「快適な生活をデザインする」
p 調べたサイトや辞書によって意味の分類分けは様々でした。このように辞書によって異なる記述があることからも、デザインの意味がぼんやりしていることが伺えます。

h3#design_two_sides-meaning-detail よく使う意味とあまり使わない意味
p そこで、ぼんやりしているデザインの意味を、ここではわかりやすく2つに分けて扱いたいと思います。これが今回取り上げる「デザインの二面性」に密接に関わってきます。
ul.nostyle
  li ① 図案や模様を考案したり、試行錯誤して造形作品を作ったりすること。
  li ② 目的をもって具体的に立案・設計すること。
p ①には、普段私たちが用いる一般的な意味を集約させました。「デザイン」という言葉を言ったり聞いたりした時に、何の違和感もなく会話ができる、広く知れ渡った意味です。たとえば、「その服かわいいね」と言われたときは「この服の色が模様、装飾がかわいい」という意味だと理解できます。同じように「スライドのデザインがイケてるね」と言われたときには、「スライドの図案や模様が褒められたんだな。」と理解するのに何の躊躇もないでしょう。
p では、②番の意味ではどうでしょうか。先ほどと同じように「スライドのデザインがイケてるね」と言われたとき、「スライドの設計やアイデアが、目的とちゃんと紐づいていることが褒められたんだな。」と解釈する人は少数派でしょう。
p このように「目的をもって具体的に立案・設計する」という意味のデザインは、一般的にはあまり使用されません。なので人によっては全く馴染みがないかもしれませんね。聞いたことがあるのは、「快適な生活をデザインする」に似たニュアンスの、企業のPRなどでしょうか。
p しかし、デザインという言葉を使う上で知っておくべき概念であることは間違いありません。なぜならこの②番の意味は、デザインという言葉が表す動作を全て説明してしまう力があるからです。

h2#design_two_sides-purpose 目的重視のデザイン
p デザインの意味②は、「目的をもって具体的に立案・設計すること」でした。この意味をより分かりやすくするために、３つに分解してみましょう。「目的を持つ」「立案する」「設計する」。この３つがデザインの意味を構成しています。
figure
  img(src="assets/design_two_sides/image1.png")
p デザインにおいて特に重要なのは、「目的」という概念です。目的がないと何も始まりません。本来、目的のないデザインはデザインとは呼べないのです。逆に考えると、デザインは目的を決定するところから始まっていることになります。
p 目的は、その背景に何か解決したい課題や改善の欲求があることで成り立ちます。たとえば「毎日寝不足なのを解決したい」や「体脂肪率を改善したい」などの課題の解決欲求がそのまま目的となります。ここでいう目的とは課題を解決・改善することです。なので「目的を持つ」の前には「課題発見」のフェーズが存在することになります。このように目的志向は課題解決志向と言い換えることができますね。
p 課題を発見し、目的が決定されると、次に行うべきは解決策の考案です。これが先ほど分解した「立案する」のフェーズです。目的を達成するため、課題を解決するアイデアを練ります。その後「設計する」のフェーズがあります。このように、デザインは「課題発見」「立案」「設計」のプロセスを持ちます。
br
p デザインが「課題発見」「立案」「設計」のプロセスを持つ一連の行動を指すということは、デザインはデザイナーだけのものではないと言うことができます。このプロセスはエンジニア、プログラマーの方にも必要な能力だと言えませんか？　普段のお仕事で、当たり前のようにやっている方もいらっしゃるでしょう。
p 冒頭で私は「デザインとは新しい価値を提供するもの」と定義しました。日常に潜む「課題」を発見し、それを解決するアイデアを創案、具体的にそのアイデアの実現に向けて企画・設計を行うデザインのプロセスは、まさに研究開発やベンチャー企業の商品開発そのものです。そうして出来たプロダクトはユーザーに新しい価値観を提供することができます。
p 眠った課題を見つけ、アイデアを出して設計したものに共感が得られれば、それは良いデザインであるといえます。このデザインの思考プロセスのことを一般に「デザイン思考」と呼びます。

h2#design_two_sides-thinking デザイン思考の考え方
p デザイン思考とは、「デザイナーの感性と手法を誰でも会得できるようにまとめた思考プロセス。また、それに基づいて人々のニーズに合った価値を創ること」です。デザイナーが行っている広義の意味でのデザインプロセスがまとめられ、様々な現場で利用されるようになってきています。デザインのオープン化の良い例だと思います。
p デザイン思考を行うことで必ずしも新しい価値が生み出せるわけではありませんが、今自分がどのフェーズにいるかを理解でき、アイデアをまとめやすくなります。そこで今回はデザイン思考の入口にご案内したいと思います。

h3#design_two_sides-thinking-process デザイン思考のプロセス
p
  | デザイン思考はプロセスをまとめたものと言いました。以下がそのプロセスです。これはスタンフォード大学のデザインスクール「d.school」※
  a(href="https://dschool.stanford.edu/") https://dschool.stanford.edu/
  | が定義しているものをお借りしてきました。
ul.nostyle
  li
    | Step1 共感(Empathize)
    p 本人も気づいていない本音や、価値観を明らかにする。
  li
    | Step2問題定義(Define)
    p 正しく問題設定をして、解決策を生み出す。
  li
    | Step3 創造(Ideate)
    p アイデアの幅を可能な限り広げる。
  li
    | Step4 プロトタイプ(Prototype)
    p 実際につくって試す。
  li
    | Step5 テスト(Test)
  p ユーザーからのフィードバックを得る。
figure
  img(src="assets/design_two_sides/image2.png")
p Step1の共感は、インサイトを見つけるステップです。根本的に抱える課題や、自覚のない改善欲求をインサイトと呼びます。

h3#design_two_sides-thinking-insight1 簡単に見せてくれないインサイト
p 例えばこんな例があります。Aさんが「速い車に乗りたい」といいました。その欲求に対して、早く走れる馬を育てて馬車に繋ごうとするのは、解決策として非常に的外れです。普通なら「エンジンを馬力の強いものにする」や「スポーツカーを買うお金を貯める」といった解決策が上がるでしょう。「馬車より速いものがあるだろバカバカしい」と笑いものにされてしまいます。
p しかし自動車が無く、馬車が一番の移動手段だった時代には、本気で未来の乗り物として考えられていました。もっと速く走れる馬を育てようと日々努力していたのでしょう。速い馬というのは憧れの存在だったわけです。
p では、彼らは本当に速く走れる馬が欲しかったのでしょうか？　答えは否です。デザイン思考に従って考えるとすぐにわかります。早く走れる馬を育てるというのは解決策にすぎません。本当は「速く移動したい」「目的地に早く着きたい」というのが改善欲求であり、その改善が目的のはずです。つまり目的地に早く着くことができれば、別に馬でなくてもいいのです。
p では再度、現代の価値観で「速い車に乗りたい」というAさんの欲求を考えてみましょう。先ほど、「エンジンを馬力の強いものにする」や「スポーツカーを買うお金を貯める」といった解決策を紹介しました。その解決策はちゃんとAさんの目的を考慮しているでしょうか？　もしかしたらAさんは「ただ早く目的地に着きたい」だけかもしれませんよね。その場合、紹介した解決策は全て的外れということになりかねません。
p これが自覚のない改善欲求の例です。Aさんのインサイトは「早く目的地に着きたい」です。しかしそのインサイトをAさん自身は意識していません。そのため本来の目的が見えないまま、もやもやした状態で要求を言うので、何を改善する必要があるかが伝わってこないのです。その結果、それを聞いた私たちは無意識的に「速い車に乗る」以外の解決策を排除してしまいます。このような自覚のない改善欲求は、解決策が絞られてしまうため、新しいアイデアが出にくくなります。
p そのためデザイン思考では、無意識下に隠れてしまった根本的な課題（インサイト）を掘り起こすことが求められます。課題解決が目的となるデザインにおいて、根本的な課題が見えていないようでは目的が設定できないのです。目的を重視することは、課題の本質を見据えることでもあるのです。
p アンケートなどはほとんど意識下の情報しか得ることができないため、取る際は気を付けた方が良いでしょう。

h3#design_two_sides-thinking-insight2 インサイトが分かればこっちのもんじゃい
p さて、Step1の共感で得られたAさんのインサイトは「早く目的地に着きたい」です。これは確かに多くの人が共感するものだと思います。インサイトを見つけたことで、次のステップである問題定義に移ることができます。「早く目的地に着きたい」のはなぜか。どこに本質的な問題があるのかを考えます。このフェーズでは実現可能かどうかを検討する必要はありません。「信号を取っ払うことが解決策だ」と言い張っても構いません。本質的な問題を見据えることに注力して考えることが重要です。ここで現実可能性を考えてしまうと、ユニークなアイデアが出なくなってしまいます。
p どうやって実現するかは、次の創造というステップで考えることになります。「どうすれば信号を取っ払うことができるか」。普通ならそんなことは考えませんよね。でもみなさん一度は「信号止まるのめんどくせぇな、飛ばしたいな～」と思ったことはありませんか？　これも無意識化に隠れてしまったインサイトと言えます。「どうすれば信号を取っ払うことができるか」を本気で考えることが、課題の新しい解決策の糸口を探すことと同義です。このステップで色んなアイデアを出して幅を広げていきます。
p また、アイデアがまとまらなくとも、できるだけ早い段階で簡単にプロトタイプを作ることが重要です。これがStep4のプロトタイプです。プロトタイプを作ることでチームメンバーの意識のズレを無くし、Step5のユーザーテストも行いやすくなります。

h3#design_two_sides-thinking-routine プロセスはぐるぐる回す
p デザイン思考の面白いところはこのプロセスを巡回するようにぐるぐる回すところです。PDCAにしろこういうのは何でも回したがりますよね。Step5でユーザーからのフィードバックが得られたら、Step1に戻りインサイトを再検討します。このサイクルを繰り返すことで、より洗練されたデザインとなります。このようなプロセスによって、デザインはユーザーに新しい価値を提供することができます。

h2#design_two_sides-two デザインの二面性
p ここでタイトル回収、本題です。デザインの本質的な話を長々をしてきましたが、それらを踏まえ、私の体験談をお話します。

h3#design_two_sides-two-consultation 後輩からのデザイン相談
p 後輩がポスターの作成について、私に相談を持ち掛けてくれました。「しっくりきません。なんかいい感じにしたいんですけど、どうすればいいですか？」とのことでした。後輩の言う「いい感じ」というのは「見た目がカッコいい感じ」ということです。この質問から彼がポスターの見た目を重要視しているのが分かりました。
p 見た目を整えるのは重要なことですが、彼が根本的にポスターの目的を見据えていないことを、私は察しました。ポスターを制作する目的は、何かを「伝える」ことにあります。つまり、見た目を整える以前に「伝え方」を重要視する必要があるということです。イベントならばそのイベントのコンセプトや概要をどうやって伝えるかを考える必要があります。しかし、彼はどうやって伝えたい情報を伝えるかについての検討が浅はかでした。伝えたい情報の整理もできておらず、思いついた言葉を並べているだけのように見えました。
p デザインは目的を見据えているかいないかで雲泥の差が生まれます。例えばコンセプトを伝えたいという目的がはっきり決まっていれば、そのコンセプトに沿った色や形、言葉が決定されます。同じ内容のポスターでも何を伝えたいかによってデザインは変わります。むしろポスター以外のものを使って伝えた方がいいこともあります。
p 私は後輩に対してどう返答するべきか迷いました。後輩が欲しい情報は「カッコいいデザインにするにはどうすればいいか」です。色をもう少し明るくするとか影を付けるとか、具体的なスタイリングのテクニックを私に求めています。しかし、ポスターで何を伝えたいかという目的がわからないと、私は良いデザインを提案することはできません。ここにデザインという言葉を使う上で、私と後輩との間に意味のギャップが生まれているのです。このギャップを埋めるためには、後輩にポスターの制作目的を聞くところから始めなければなりません。ただかっこいいだけのデザインはデザインとは呼びません。さて、新しい価値を提供するデザインとはどんなものでしょうか？

h3#design_two_sides-two-value 新しい価値を提供するポスター
p JRのポスターで「そうだ京都、行こう」というポスターがあります。駅によく貼ってあったり、CMでも流れていたので知っている方は多いと思います。京都の写真がポスター全体に大きく配置されており、「そうだ京都、行こう」のキャッチコピーが添えるように書かれています。これはどういった目的で制作されたものでしょうか？　京都への観光客を増やし新幹線に乗る人を増やすためでしょうか？
p 実はこのポスターは、「旅行は細かく予定を立てるもの」という概念を壊して「思いつきで旅行してもいいんだよ」という新しい価値感の提案を意識したデザインになっています。旅行者が少ない問題の本当の問題点は「京都旅行のハードルの高さ」や「旅行計画のめんどくささ」だったわけです。それを解決するためのアイデアとして「思いつきで旅行する旅」を伝えるポスターが制作されました。
p このようにデザインとはやはり「課題発見」「立案」「設計」のプロセスによって成り立っており、目的志向であることがわかります。デザイナーさんはただ見た目を整えるだけではないのです。きっとプロダクトを総合的に考えて提案されているはずです。また、デザイン思考は誰でもできますが、そのプロセスによって生まれた新しい価値観をどうやって他の人に伝えるのかを考えるのがデザイナーさんの主な仕事であり、得意分野であると言えます。

h3#design_two_sides-two-meaning 意味の住み分け
p デザイナーと一言で言っても、その仕事内容は多種多様です。デザイン思考を用いたプランニングから行う方もいれば、スタイリングだけを行うデザイナーさんもいます。そんな中でやはり、デザインの意味の住み分けが欲しいなぁと思うところです。
p なのでkosen14s内のデザイン好きの間で、広義の意味では「デザイン」を、見た目に関する意味では「スタイリング」をというように、私は意識して使い分けています。

h2#design_two_sides-conclusion まとめ
p さて、デザインの本質に迫る内容でしたがいかがだったでしょうか。読んでいただいた方が、広義の意味でのデザインや、デザイン思考について興味を持っていただければ幸いです。
p
  | このデザインの二面性のお話は「高専カンファレンス東京2018」というイベントのLT枠にて、ざっくりとした内容をお話しました。その時のスライド
  span.footnote: a(href="https://speakerdeck.com/chige/dezainfalseer-mian-xing") https://speakerdeck.com/chige/dezainfalseer-mian-xing
  | もあるので気になった方は見てみてください。ここまで読んでいただいてありがとうございました。
