p
  | kosen14sは、2014年度に高専という環境に若くして飛び込んだ最高のオタク達による最高の団体です。プロコニスト・ロボコニストはもちろん、デザイナーやエンジニア、絵師、などの様々な活動をしている、個性的なメンバーが参加しています。ときどき集まってはLTをしたり、読書会をしたり、開発合宿をしたりのびのびと活動しています。また、ここで知り合ったメンバー間で共同製作が始まることもありました。特に、kosen14sメンバーである、ちげ(
  a(href="https://twitter.com/Chige12_") @chige12
  | )とやましー(
  a(href="https://twitter.com/yamasy1549") @yamasy1549
  | )の２人による「
  a(href="https://yamasy.info/programming-karuta") プログラミング言語かるた
  | 」はクラウドファンディングで目標の270%であるおよそ100万円を集めるにいたるほどの人気を得ました。いまや、私たちkosen14sは同じ年代に高専に入ったというだけで集まったゆるふわ団体ではなく、交流し高め合い成長できる最高の集団になりました。
p さて、本誌ではそんな個性豊かなkosen14sメンバーの活動や趣味の一端をぎゅぎゅっと集めてみました。各メンバーのアクの強さが隠しきれない闇鍋のような本となっております(誰得)。そんなお鍋のパンチある出汁をご賞味いただければ幸いです。
br
p さぁ、kosen14sの世界に飛び込んでいきましょう！
p.right
  | 2018/10/08 Cilvia(
  a(href="https://twitter.com/tech0970") @tech0970
  | )
