p 原稿執筆おつかれさまです。進捗いかがですか？
p
  | この章では組版で使えるスタイルについて説明します。
  | 原稿を書く際に参考にしてください。
  | Google Document のコメント機能等で「ここは枠囲い」など適用したいスタイル名をメモしてもらえると組版係が助かります。

nav.toc
  ol
    li: a(href="#sample-headline") 見出し
    li: a(href="#sample-toc") 目次
    li
      a(href="#sample-text") テキスト
      ol
        li: a(href="#sample-text-paragraph") 段落
        li: a(href="#sample-text-strong") 強調
        li: a(href="#sample-text-hyperlink") ハイパーリンク
        li: a(href="#sample-text-code") ソースコード
        li: a(href="#sample-text-math") 数式
        li: a(href="#sample-text-list") 箇条書き
        li: a(href="#sample-text-frame") 枠囲い
        li: a(href="#sample-text-footnote") 脚注
    li: a(href="#sample-table") 表
    li: a(href="#sample-figure") 図
