h2#reference 参考文献
p
	| 楕円曲線暗号を説明しているWebサイトは数多く存在するが，以下では本稿を書く上で参考にした書籍を簡単に紹介する．
	ul
		li
			| Jonathan Katz著，”Introduction to Modern Cryptography, Second Edition”, (Chapman & Hall出版，2014年)
			p 私が楕円曲線暗号を勉強するきっかけになった本．楕円曲線暗号に限らず近年使われている暗号技術を数学的観点から説明し，その安全性などについても議論している．必要となる数学の知識も丁寧に説明されており，私にとっては難しすぎず，易しすぎない丁度良い内容の本であった．
		li
			| 宮地充子著，”代数学から学ぶ暗号理論: 整数論の基礎から楕円曲線暗号の実装まで”,（日本評論社出版，2012年）
			p 楕円曲線暗号を中心に，基礎から実装までをかなり詳細に議論している．徹底的に網羅しているため，代数学に慣れ親しんでいない私にとっては難しい一冊であった．
