p 暗号理論は定理や公理が複雑に絡み合うため，著者にとっては苦手な分野であった．しかし初めて楕円曲線暗号を勉強したとき，楕円曲線が美しく巡回群を形成しており，大変興味を引かれたため勉強し始めた．暗号分野の本は説明が小難しくなりがちなので，本稿ではできるだけ簡単な説明で，しかしながら公式などは証明を心がけるようにする．特に高校生以上を対象とし，最低限必要な数学の理論を展開した上で，楕円曲線の理論を中心に説明する．ただし，本稿を読む上では，集合や合同式，群に関する基礎知識に加え，Pythonがある程度読めることが好ましい．本稿の内容が僅かでも楕円曲線暗号の理解や，暗号分野への関心に役立てば幸いである．

h1 目次
nav.toc
	ol
		strong 前提となる知識
		ol
			li: a(href="#c1s1") 群の基本
			li: a(href="#c1s2") 基礎となる定理
			li: a(href="#c1s3") 合同式に関わる定理
		strong 楕円曲線の理論
		ol
			li: a(href="#c2s1") 楕円曲線
			li: a(href="#c2s2") 楕円曲線上での加算
			li: a(href="#c2s3") 無限遠点の定義
			li: a(href="#c2s4") 楕円曲線上でのスカラー倍
		strong 暗号への応用
		ol
			li: a(href="#c3s1") 離散対数問題
			li: a(href="#c3s2") 鍵配送問題
			li: a(href="#c3s3") 楕円曲線ディフィー・ヘルマン鍵共有
			li: a(href="#c3s4") baby-step giant-stepアルゴリズム
		li: a(href="#reference") 参考文献

h1 ソースコード
p 本稿では数学的というより，実装において最低限必要となる楕円曲線暗号の理論をプログラマの視点から説明する．そのため，いくらかの定理はプログラムのみで証明などを省略することがある．本稿で実装する楕円曲線ソースコードは以下のリンクから閲覧できるので参考にされたい．

p(style="text-align:center"): a(href="https://github.com/ptr-yudai/EllipticCurve") https://github.com/ptr-yudai/EllipticCurve

figure
	img(src="assets/elliptic/qr.png")
		


