p この記事は、 Ruby が読める方を対象に、PyCall を使った Ruby での機械学習について書かれています。紙面の都合上、機械学習や自然言語処理に関する知識紹介は最小限に留めてあります。
p 題材として「言語処理100本ノック 2015」の「第8章 機械学習」の問題を、Python ライブラリとして scikit-learn を用います。

nav.toc
  ol
    li: a(href="#ruby_ml-why") なぜ Ruby で機械学習？
    li: a(href="#ruby_ml-license") ライセンス
    li: a(href="#ruby_ml-howto") PyCall ことはじめ
    li
      a(href="#ruby_ml-doit") やっていき
      ol
        li: a(href="#ruby_ml-doit-70") 70. データの入手・整形
        li: a(href="#ruby_ml-doit-71") 71. ストップワード
        li: a(href="#ruby_ml-doit-72") 72. 素性抽出
        li: a(href="#ruby_ml-doit-73") 73. 学習
        li: a(href="#ruby_ml-doit-74") 74. 予測
        li: a(href="#ruby_ml-doit-75") 75. 素性の重み
        li: a(href="#ruby_ml-doit-76") 76. ラベル付け
        li: a(href="#ruby_ml-doit-77") 77. 正解率の計測
        li: a(href="#ruby_ml-doit-78") 78. 5分割交差検定
        li: a(href="#ruby_ml-doit-79") 79. 適合率-再現率グラフの描画
    li: a(href="#ruby_ml-end") おわりに
