// h1: chapter
// h2: section
// h3: subsection

section.chapter-wrapper
  counter-reset: chapter 1

.chapter
  &::after
    content: " 0" counter(chapter)

article
  counter-reset: section table figure footnote

h1
  counter-increment: chapter

h2
  counter-reset: subsection
  counter-increment: section

  &::before
    content: counter(section) "."
    font-size: 15pt
    font-weight: 700
    line-height: 0
    margin-right: 5px

h3
  counter-increment: subsection

  &::before
    content: counter(section) "." counter(subsection) "."
    font-size: 12pt
    font-weight: 700
    line-height: 0
    margin-right: 5px

h4
  counter-increment: subsubsection

  &::before
    content: counter(section) "." counter(subsection) "." counter(subsubsection) "."
    font-size: 10pt
    font-weight: 700
    line-height: 0
    margin-right: 5px

table caption
  counter-increment: table

  &::before
    content: "表" counter(table) "."
    margin-right: 5px

figure figcaption
  counter-increment: figure

  &::before
    content: "図" counter(figure) "."
    margin-right: 5px

span.footnote
  counter-increment: footnote
  font-weight: 400
  text-align: left

  &::footnote-call
    content: counter(footnote)

  &::footnote-marker
    content: "[" counter(footnote) "]"

// 目次
nav.toc a::after
  content: target-counter(attr(href), page)
