*,
*::before,
*::after
  box-sizing: border-box

:root
  font: $body-font
  line-height: $body-line-height
  color: #000000

// 見出し
h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0
  font-weight: 700

h1
  margin-bottom: 8mm
  font-size: 23pt

h2
  margin-top: 5mm
  font-size: 15pt

h3
  margin-top: 5mm
  font-size: 12pt

h4
  margin-top: 3mm
  font-size: 10pt

// 段落
p
  margin: 0
  text-align: justify
  text-indent: 1em

p.right
  text-align: right

// 強調
strong
  font-weight: 700

// リンク
a, a:hover, a:focus, a:visited
  color: $main-color

// インラインソースコード
code, kbd, pre, samp
  font-family: $code-font-family

// ブロックソースコード
pre
  position: relative
  padding: 1em 0 1em .5em
  margin: 3pt 0 3pt 0.146in
  background-color: #ddd6d4
  white-space: pre
  tab-size: 4
  box-decoration-break: clone

  margin-right: -50em
  padding-right: 50em
  margin-left: -49.854in
  padding-left: 50in

*:not(pre) > code
  color: #555
  font-weight: bold
  margin: 0 0.2em
  padding: 0.2em 0.3em 0.1em
  border-radius: 0.2em
  background-color: rgba(133, 119, 116, 0.25)

// 枠囲い
.frame
  border: 2px solid
  border-radius: 2px
  margin: $image-margin
  padding: 1em .5em
  font-weight: 700

// 脚注
span.footnote
  float: footnote

  &::footnote-call
    font-size: 8px
    vertical-align: 0.5em

.column2
  display: flex
  margin-top: 10px

  > *
    margin-top: 0
    width: 50%

    > *
      margin-top: 0

// 表
table
  display: inline-block
  margin: $image-margin
  border-collapse: collapse
  th:first-child
    text-align: right
  tr.header
    th
      text-align: center
  th, td
    padding: 1.5mm 4mm 1.5mm 0
    &:first-child
      padding-left: 4mm
    border-top: 2px solid
    border-bottom: 2px solid

// 図
figure
  margin: 0

img
  max-width: 100%

.clearfix:before
  content: " "
  display: table
  clear: both

// 目次
nav.toc
  margin: 10px auto
  padding: 10px 0
  border-top: 1px solid
  border-bottom: 1px solid

  ol
    list-style: none

  a::after
    float: right
