@font-face
  font-family KiniroSansSerif
  src url(assets/fonts/GN-Kin-iro_SansSerif.ttf)

@font-face
  font-family SourceHanSansJP
  font-weight 200
  src url(assets/fonts/SourceHanSans-ExtraLight.otf)

@font-face
  font-family SourceHanSansJP
  font-weight 300
  src url(assets/fonts/SourceHanSans-Light.otf)

@font-face
  font-family SourceHanSansJP
  font-weight 400
  src url(assets/fonts/SourceHanSans-Normal.otf)

@font-face
  font-family SourceHanSansJP
  font-weight 500
  src url(assets/fonts/SourceHanSans-Regular.otf)

@font-face
  font-family SourceHanSansJP
  font-weight 600
  src url(assets/fonts/SourceHanSans-Medium.otf)

@font-face
  font-family SourceHanSansJP
  font-weight 700
  src url(assets/fonts/SourceHanSans-Bold.otf)

@font-face
  font-family SourceHanSansJP
  font-weight 800
  src url(assets/fonts/SourceHanSans-Heavy.otf)
