img[src="assets/icons/yamasy1549.png"]
  max-height: 50mm

img[src="assets/design_theory/try1.png"],
img[src="assets/design_theory/try2.png"],
img[src="assets/design_theory/try3.png"],
img[src="assets/design_theory/try4.png"]
  max-width: 80%
