$body-font = 400 9pt SourceHanSansJP, sans-serif
$body-line-height = 1.8
$code-font-family = Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', SourceHanSansJP, monospace
$nombre-font = 14pt KiniroSansSerif

// $main-color = #d75785
$main-color = #6da435

// JIS B5
$page-width = 182mm
$page-height = 257mm

$page-bleed = 3mm

$page-margin-left = 20mm
$page-margin-right = 20mm
$page-margin-top = 10mm
$page-margin-bottom = 15mm
$page-margin-inner = $page-margin-right
$page-margin-outer = $page-margin-left

$page-column-2-margin-left = 10mm
$page-column-2-margin-right = 5mm
$page-column-2-margin-top = 15mm
$page-column-2-margin-bottom = 10mm

$image-margin = 5mm

$stretch = 5in
