$main-color = #6da435

@import "../../node_modules/normalize.css/normalize.css";

@import "_variable";
@import "_font";
@import "_code";
@import "_header";
@import "_counter";
@import "_figure";
@import "_together";
@import "_element";
@import "_page";
