h2 はじめに
p
  | 2014年から2016年まで、明石高専ロボット工学研究部 ( = ロボ研 ) に在籍し、NHKロボコンに参加していました。高専に入学してからの3年間をロボ研で過ごして、4年目の高専生活も終え、就職を1年後に控えた今、ロボコンを通じて考えた事や学んだ事を記録を残しておきたいと思います。とは言ってもロボコンの技術的な内容は、いつか使わなくなってしまうので… この記事のテーマは「
  strong 2年前の高専ロボコンでチームリーダーをした記録
  | 」です。

h2 そもそも私達はどんなロボットを作ったのか
p
  | 2年前 (2016年) の高専ロボコンのテーマは「
  strong ロボット・ニューフロンティア
  | 」でした。ルールは簡単に言うと「箱運び & 箱積み」です。詳しい内容は当時のルールブックをご覧ください。
  blockquote
    p 今年の競技はロボットによる「新大陸開拓」です。
    p みなさんは「探検家」として新大陸を目指します。待ち受ける障害をロボットで
    p 乗り越え、新大陸を開拓した証としてブロックを積み上げ「砦」を築き上げます。
    p.right
      | 高専ロボコン2016ルールブック
      span.footnote: a(href="http://www.official-robocon.com/wordpress/wp-content/uploads/rulebook_kosen.pdf") http://www.official-robocon.com/wordpress/wp-content/uploads/rulebook_kosen.pdf
  | 私が所属していたのは、明石高専Bチーム「
  strong あさごん
  | 」です。私達のチームでは数々の試作を経て、バンブー田城 (写真左) や カストーレ竹田 (写真右) 、橋の わたる と とおる を制作しました。 下から箱を滑り込ませる機構や大容量の箱運びが特徴のロボット達です。
  figure
    img(src="assets/robocon/image3.png")

h2 ちょっとだけ寂しかった経験
p
  | 私が高専に入学したのは2014年の4月。その頃はロボコンなんて1mmも知りませんでしたが、当時の先輩が動かして見せてくれた 球を飛ばすロボット ( 多分、2014年の近畿合ロボに出したロボット ) にうっかり心を揺さぶられてしまい、そのまま ロボ研への入部を決めてしまいました。
  br
  | ですが、実際に入部したロボ研は、想像以上に（私にとって）キツい環境で、ちょっとだけ寂しさを感じていました。具体的には、
  ol
    li 女子が圧倒的に少ない（後期開始の時点で1人）
    li 機械工学科の人が大半で電気情報工学科の私には アウェー
    li 同級生はロボコン経験者が多く、知識量で追いつけない
    li そして 技術的にも追いつけない
    li そもそも高専生的な知識 (アニメとか数学とか) に乏しくて 会話に混ざれない
    li 1年間でかなりの数の部員が辞めていく
  | などです。技術的なトコロでロボ研の力になれない上、他の部員の方ともイマイチ仲良くなりきれない状況は、なかなか辛いものがあり、実際にロボ研を辞めていった同級生達も同じ気持ちだったんじゃないかなぁ…と感じています。また最初の1年間で、辞めてしまった上級生の方々が何人もいらっしゃって、もしかして部活楽しくなかったのかな…？と考えたりもしていました。
p
  | ロボ研1年目を終えて、私がロボコンにおいて1番重要だと思ったのは「
  strong いかにロボコンを楽しむか
  | 」です。楽しい学校生活にする為に楽しいロボコンをしたかったことも理由の1つですが、何より私が初めて見た 2014年の全国高専ロボコンで 優勝されたチーム
  span.footnote: a(href="https://ynctdenken.web.fc2.com/NHK_robocon/2014/2014_A_majitaku.html") https://ynctdenken.web.fc2.com/NHK_robocon/2014/2014_A_majitaku.html
  |  の凄く楽しそうな様子が印象的だったからです。「いかにロボコンを楽しむか」これを チーム に反映できたのは 初めてのロボコンから 2年経ったあとでした。

h2 ロボ研2年目 挑戦と後悔
p ロボ研2年目の春、前年度は部室の片隅で佇むだけだった私にとって 大きな変化がありました。それは、メインプログラマーへの抜擢 です。抜擢と言っても、選出された訳ではありません。一念発起して立候補した結果、なんとか引き受けさせて貰えることになった…という形です。メインプログラマーと言っても、今まで殆ど プログラムなんて書いたことが無かった私にとって、ロボットのプログラムを書くのは 大変な作業でした。
p
  | そんな私が メインプログラマー としての役割を果たすためにとった行動は、「
  strong 人の助けを借りまくる
  | 」ことでした。先輩、同級生、後輩、先生など… 助けを借りた人の数は計り知れません。ただ、助けを借りまくっていると、1年目で話せなかった 先輩や同級生 と話せるようになってきました。人に力を借りることが 人と話すきっかけになり、仲間とたくさん話せたことで 
  strong 自分がしたいことをのびのび作業できるように
  | なりました。そのお陰もあってか、その年のチームは 前年度よりメンバー間の仲が良く、更に近畿大会優勝・全国大会ベスト4にまで勝ち上がることができたのです。
p 私は凄く楽しかったし 成果も残すことが出来た 2015年のロボコンですが、実は1つ どうしても後悔していたことがあります。それは、この年に退部した部員の数が 例年同様、かなりの人数いた。ということです。私は楽しめても、同じように楽しめなかった（であろう）メンバー がいることが、凄くショックでした。
p
  | そんな私が ロボ研で2年間を過ごして思ったこと。3年目を目前にして、改めて決意したことが 次の4つです。
  ol
    li 入学当時のちょっとだけ寂しかった気持ちは新入生に感じさせない
    li ベテランの上級生にも ストレスなく力を出し切ってもらう
    li もっとチーム力の高いチームでロボットを作りたい
    li 全員が楽しめるチームを作りたい
  | こんなことを胸に ロボ研3年目を迎えました。

h2 チームリーダーとして目指した環境
p
  | ロボ研3年目の私は ロボコンのチームリーダーを担当するまでになりました。チームリーダとして1番に目指したのは「
  strong 全員が仲良く楽しく真剣に全力を出せる環境作り
  | 」です。そんな環境作りの為に、絶対に外せない要素として、
  ul
    li 初心者の1年生に壁を感じさせない
    li ベテランの上級生にストレスを感じさせない
    li スケジュールを可視化する
    li 完成形のイメージを共有する
    li (ロボコンと関係なく) チームメイトとの親交を深める
    li 自分のストレスはチームメイトに見せない
    li とりあえず色んなメンバーと喋りまくる
  | を意識してチームを作りました。

p
  | …ご存知の方もいらっしゃるかもしれませんが、この時の明石高専Bチームの目標は「絶対全国優勝 ~ All of us make the aim perfect! ~」です。チーム内やメディアの前では「絶対全国優勝」の方を多く口にしていたのですが、実は同じぐらい「 All of us make the aim perfect! 」も大切にしていました。意味は「チーム全員で目標を成し遂げよう！」です。（正しい英語なのかは微妙…）
  strong "All of us"
  |  ( 
  strong チーム全員
  |  ) っていう言葉がポイントで、1人でも多くロボコンを真剣に楽しむ人が増えるように 心がけていました。

h2 チーム作りの中でも特に大事にしたところ
h3 1. 初心者の1年生に壁を感じさせない
p
  | 具体的な方策
  ul
    li 基本的に話し合いや会議では専門用語を使わない
    li 可能な限り報告会を開催しロボコンの流れを感じてもらう
  | 高専ロボコンに参加する1年生は、
  ol
    li ロボコン経験者 or やたら技術的な事をよく知ってる子
    li ロボコン未経験者 or 技術はまだ分からないけどロボコンに興味がある
  | といった2つのタイプに分かれることが多いです。ちなみに私は 
  strong 2.
  |  の方でした。

p
  | 少し話が変わりますが、高専に入学する全ての人は多かれ少なかれ「
  strong 自分よりもよく出来る人が近くにいる
  | 」と感じたことがあるんじゃないかと思います。私はそうでした。自分には付いていけない専門的な話で盛り上がる同級生や先輩を見て、微妙に劣等感を感じていました。
p
  | 私がチームリーダーになって最初に始めたのは、この 
  strong 1.
  |  と 
  strong 2.
  |  どちらのタイプの1年生にも壁や劣等感を感じさせずロボコンを楽しんでもらうことです。1年生がロボコン楽しみながら積極的に活動に参加してくれると、単純に作業人員が確保できます。その上、私の居たチームでは純粋にロボコンを楽しむ1年生に引っ張られて上級生も楽しく作業していたんじゃないかと思っています。

h3 2. スケジュールを可視化する
figure
  img(src="assets/robocon/image1.png")
p
  | 当時はLINEのノート機能を使ってこんな風にスケジュールをチームで共有していました。今はもっといいアプリや機能があると思いますが、どんなものを使うにせよ 
  strong チームメンバー全員でスケジュールを確認し合える環境
  |  は必要だったと思います。
p ちなみに、これらのスケジュールは私 ( = チームリーダー ) だけで決めていた訳ではありません。定期的に3年生 ( = 当時のチームの最高学年 ) に集まってもらって、スケジュールや全体の流れを確認して貰ってから決定していました。

h3 3. 完成形のイメージを共有する
figure
  img(src="assets/robocon/image2.png")
p これは6月頃に設計前の段階で描いたロボットの凄くざっくりした計画図です。試作で決定した機構がどこに使用されるか。他の機構との兼ね合いはどうか。をチームで共有するために書きました。
p
  | ロボコンには加工、設計、回路、制御 etc... 様々な役割があります。その分チームのメンバーがそれぞれ持っている専門知識や経験も様々です。そんな色んな役割の人達が1つのものを作る為には 同じ 
  strong ゴール
  |  や 
  strong イメージ
  |  が見えていないと難しいんじゃないかなぁ〜と思っています。その点では（ 微妙な完成度のざっくりした計画図でも ）色んな役割・学年の人が 同じ図を見てイメージを共有できて、良かったんじゃないかと思います。

h3 4. 自分のストレスはチームメイトに見せない
p 大会が近づいてくると、メンバー同士の口調のきつい議論が増えたり、チーム全体がイライラした雰囲気に包まれることは、どんなチームであっても少なからずあると思います。（ ロボットの調子が悪い時にも起こりがち… ）
p
  | 私がここでチームリーダーとして大事にしたのは「
  strong いかにメンバーが余裕を持って作業できるか
  | 」です。その為には私の感じていたストレスは外に出さず、出来るだけ余裕を持ってチーム内ではいつでもニヤニヤしているように、心がけていました。（ 本当に出来ていたかどうかは怪しい ）
p また、チームの一部で切羽詰まった議論が発生した場合は、一度その場で議論を停止してもらい、落ち着いた後にチーム全員で話し合いを行いました。チームに発生した問題を全体に共有できるだけでなく、全員で落ち着いて話し合いが出来ると後からわだかまりとして残らないので、良かったと思います。 

h2 さいごに
p
  | 以上が私の「
  strong 2年前の高専ロボコンでチームリーダーをした記録
  | 」です。本当はもう少し、心の中でこっそり考えていたことや意識して行動していたことがあるのですが、恥ずかしいのでこの位にしておきます…！
p こんな事を書くと怒られてしまいそうですが、まずは楽しんでみるっていうのも、1つのアイデアなんじゃないかなぁと思います。もちろんロボコンにしかない自由な発想も高専でしか身につけられない技術も大事だと思いますが、あまり求められているものに縛られ過ぎず、楽しくロボコンをする人が増えれば嬉しいなーって思います。こんなまとめで伝わるかな…笑
p …いつか書こうと思っていたこの記事もようやく書き終わり、ようやく私の中のロボコンは一区切りつきました。チームリーダーをした1年間も含めてロボコンと関わった3年間は、色んな事が出来て色んな人に出会えて、凄くいい経験になりました。これからもロボコンが続いていくんだろうなぁって考えると、嬉しいような寂しいような… 本当に有難うございました。
p 現役の ( +未来の? ) ロボコニストの皆さんこれからも頑張ってください！私も頑張るぞー！
br
p
  | ※この記事は 2018年4月24日 に発表した ブログ記事
  span.footnote: a(href="http://f-respectful12.hateblo.jp/entry/2018/04/24/001840") http://f-respectful12.hateblo.jp/entry/2018/04/24/001840
  |  を加筆・修正したものです。
