p Saluton! theoldmoon0602です。この文章は、 Juliamo には殆ど何も関係なく、Esperantoもまるで出てこず、高専とは一切関係のない、エスペラント学力検定を受検した際の記録です。

nav.toc
  ol
    li: a(href="#juliamo-about") Juliamo あるいは Esperanto について
    li: a(href="#juliamo-chart") あなたが学ぶべき言語診断チャート
    li: a(href="#juliamo-test") エスペラント学力検定 3級・4級
    li: a(href="#juliamo-learn") エスペラントの学習について
    li: a(href="#juliamo-conclusion") おわりに
