h2#juliamo-about Juliamo あるいは Esperanto について
p 初稿ではこの文章はなかったんですが、あまりに色がなさすぎて「追加して！」って言われたのでかくやつです。
p
  | Juliamo
  span.footnote ユリアーモ
  |  というのは純百合アドベンチャーゲーム「ことのはアムリラート」における概念で、このゲームは「異世界で百合をやる」という力強いコンセプトのもとに作成されたゲームなのですが、異世界要素を大事にしていて、異世界で生きのびていくためにそちらで使われる言語を学びながら百合をやるという前代未聞の異色ゲームになっています。
p
  | とはいえ異世界語をすべて自作するのは大変極まりない
  span.footnote もちろん全部自作している例もあると思うんですがほら、予算とかもあるので……
  | ので、Juliamoは現実の言語である Esperanto を参考にしています。というかほとんど一緒です
  span.footnote
    | 文化の違いがあるので、異なる語が用いられる例が存在しています。 
    a(href="https://twitter.com/jment/status/941163868306382853") https://twitter.com/jment/status/941163868306382853
  | 。
p
  | Esperanto はザメンホフという言語オタク
  span.footnote 確かそうだったと思うんですがどこでこの言説を見たのか憶えておらず出典がありません。嘘だったらごめんなさい
  | が作った言語で、人工の自然言語としてはおそらく最も人口に膾炙しているものです。人工言語らしく例外がない文法を持ち、各種自然言語から輸入してきた単語らが柔軟性を与えています。
p Juliamo はまだまだ新興言語で用例も少なく、関連書籍も少ししか出版されていないので、 Juliamo をやりたいと思った若者たちは自然、Esperantoを学ぶことになります。私もこうしてEsperantoを学ぶようになりました。

h2#juliamo-chart あなたが学ぶべき言語診断チャート
figure
  img(src="assets/juliamo/chart.png")

h2#juliamo-test エスペラント学力検定 3級・4級
p エスペラントを学習する中で、自分がいまどれだけの実力を有しているのかということを見極めるのは大変重要なことです。いまどんなことを勉強すればよいのか、話者が身近にいるとは限らないエスペラントの世界で自分はどれだけ意思疎通ができそうか、などということをこの学力検定試験を通して知ることができます。
p エスペラントに関する検定試験は日本エスペラント協会が実施するこの「エスペラント学力検定試験」の他にも「世界一斉KER試験」というものあります。こちらはCEFR(ヨーロッパ言語共通参照枠)というものに対応していて、世界的に定められている言語の学習レベルのうちの自身の立ち位置というものを確認できるようです。
p 私が受験したのは前者の「エスペラント学力検定」の方です。KER試験のことを知らなかったということもありますが、エスペラント学力検定試験はある程度頻繁に開催されているので勉強の一つの目標とすることができました。
p
  | エスペラント学力検定では 1級から4級までの4段階の級位が存在していて、私が 3・4級に挑戦したことからわかるように1級が最も難しく、2、3、4級と順に易しくなります。
  a(href="http://www.jei.or.jp/gakuryokukentei/") http://www.jei.or.jp/gakuryokukentei/
  |  に各級ではどのようなことができるのが基準かというのが記されていますが、 4級が「自己紹介を1問1答でできるレベル」、3級は「自発的に自己紹介ができるレベル」程度なのに対して、2級は「初等講習の講師にふさわしい級です」と人にエスペラントを教えることができるレベルまでを要求され、当然最難の1級では「エスペラントを自由に使いこなせるレベル」が求められます。 公開されている例題を見ても、4・3級と2級、1級では大きな隔たりがありそうです。
p
  | 私がこの検定を受けたのは第６６回関西エスペラント大会においてで、そのときは 3・4級のみ
  span.footnote 回によって受験可能な級は違います。試験官を行うことができる人間がいるか、受検者がいるかということがが上位級の検定がおこなわれるかの条件のようです。大きなエスペラント大会では全級の検定が行われています。
  | の試験ということでした。エスペラント学力検定には同時受験という、それぞれの級の検定料を支払い、それぞれの級の筆記試験を1度にこなし、高い方の級の口頭試験を受験することで一度に複数の級の検定を受けることができる制度
  span.footnote 開催回数が少ないから、というのが理由でしょうか
  | が存在しており、3・4級はまとめて受験が可能だったので私はこれで申込みを行いました。
p
  | 検定の申込みには、基本的にはメールで受検者の氏名を伝えて、指定の口座に検定料を振込むだけです。3・4級を合わせて受けると 3000円になります。これを例えばコンビニのATMから振込めば受検の手続きは終了です
  span.footnote 同時期に弊学専攻科の入試出願料を振込む必要があり、一緒にエスペラント学力検定も受けた学友にこれを振込みに行こうと誘われたのをエスペラント学力検定の検定料だと思いこんで3000円を持っていったら15000円だかが必要で、出願料ほとんどまるごと全部を借りた、というお話があります。
  | 。受検票のようなものが事前に与えられたりはしないので、当日会場へ向かうのみです。
p 今回は小さな会だったからというだけのことかもしれませんが、会場へ行っても受付のようなものはないので、それらしき人を見つけて声をかけることになります。私が受験した回では、会場の隣に控室が用意されていて、そちらで少し待ってから試験開始、となりました。試験内容は筆記が60分、会話が5分程度です。試験の開始前に受検票が配られるので氏名や住所を書きます。この情報だけを頼りに受検結果が郵送されてきますのでなかなか重要になります。
p
  | 試験内容は詳細には記憶していませんが、おおよそはエスペラント学力検定のページにある例題と同じ種類の問題がでます。ただしそれがすべてというわけではなく、例題中には紹介されていなかった誤文訂正の問題も出題されました。難易度は学力検定のページに掲載されている例題と同程度で、60分あれば 3・4級の問題全てに回答して一周見直しをすることができました
  span.footnote 途中でエスペラント大会の運営のような方が入室されて、試験監督の方となにやらエスペラント語で話し始めたのには思わず笑いそうになりました。聞き取りは全然できなかった。
  | 。4級では多くの問題に自信をもって回答できて、手応えとしては 8割に届かないくらい、 3級は長文問題の採点を甘く付けてもらえたら 7割、厳しく付けられると合格基準の 6割に届かないくらいになりそうという感じでした。 3級の問題や和訳・エス訳の問題が難しく感じるのは当然として、4級でも、例えば格を変化させる問題で leganto という単語をどう訳したものかなどと悩まされる問題がありました。
p 会話の試験は試験官と一対一で、 3級の場合は 5問の問いに答える必要がありました。問いの内容としては「自己紹介をしてください。どこから来たかも教えてください」であったり「あなたはエスペラントをこの先どのように活用したいですか」であったりしました。試験官は非常にゆっくりと丁寧に発音をしてくれる上に、聞き直すこともできるので集中すれば聞き取りはそれほど苦労しませんでした。むしろ問いへの答えをすばやくエスペラントで組み立てるところや、入退室の際になんと言えばよいのか困ってしまうところが問題でした。
p
  | 結果は約1ヶ月後に郵送されます、ということで試験を終えた後は関西エスペラント大会を楽しみ（ことのはアムリラートのシナリオライター、 J-MENT さんのお話をうかがうことができて大変良かったりしました
  span.footnote
    | 本当に余談ですが、同じ場に「いせにほ」こと「異世界語入門　～転生したけど日本語が通じなかった～」(
    a(href="https://www.kadokawa.co.jp/product/321711000464/") https://www.kadokawa.co.jp/product/321711000464/
    | )の著者の FafsF.Sashimi さんがいらっしゃって興奮が2倍でした。ファンですって言えたので良かった。
  | 。なんとなく勢いでことのはアムリラートグッズを買ったり、古典名作のエスペラント訳を購入したりしました）、その後帰宅しました。
p
  | この試験が行われたのが 5/26 で、結果が郵送されてきたのは 6/25 ですから本当に1ヶ月というところでした。今回は 6人しか受検者がいなかったのになぜそんなにかかるのかというと、会話試験の採点は録音データをどこかしらに送ってそちらでやってもらわなければならないからとのこと。首を長くして待ったものでしたが、結果は見事両方の級に合格となりました。4級の筆記問題は 87 / 100点で私の感覚よりはすこし良くできていて、 3級は筆記問題が 72/100、会話問題が 90/100 で「全般的によくできています」とのお言葉を頂きました（試験結果の通知書にコメント欄があって何かしら書いてあります）。会話問題は1問だけ回答した後に試験官に「もう一度いいますよ」と言われて二度答えた問題
  span.footnote 「あなたには何人の家族がいますか」という質問だと認識して “Mi havas kvin famlialojn.” というような感じで答えました。もう一度言ってもらってもおなじに聞こえたので、 “Kvin estas.”と言いました。
  | があったので、そこで減点をもらったのかもしれません。
p ともかく、合格できてよかったという思いが強く残っていました。私の場合は試験に望むと決めたのが 4月末ですので、およそ1ヶ月の準備期間があったということになります。この間にいろいろやりつつ勉強して、なんとか合格を頂くことができました。同じタイミングで受けた友人は同じ期間の勉強でしたが3級には届かず、といった具合ですので、殆ど知識ゼロから勉強を始めるならば1ヶ月はかなりぎりぎりのラインだと思います。

h2#juliamo-learn エスペラントの学習について
p
  | エスペラントの学習については、ことのはアムリラートからエスペラントを知った人は同ゲームの学習モードをフル活用すると良いでしょう。私の友人はこれで体の部位の単語
  span.footnote なにやらずいぶん細かいところまで作り込んであるらしく、思いがけない部分でも反応するようです。
  | だけは最強になっていました。基本的な文法要素や単語についてはこのゲームをプレイするうちに知ることができるので、最初のとっかかりとしては十分だと思います。しかし、エスペラント学力検定に合格することを目標にしたときには少し不安が残ります。
p こういうときは書籍の出番で、私は「エスペラント四週間」をひたすら読みました。勉強を開始してから検定試験の当日まで、ほとんどぴったり四週間ではあったのですが読み切ることはできず、7割程度までを読んで検定に望みました。この「エスペラント四週間」ですが最初は辞書的な使い方が想定されているものかとも思ったのですが、例題がものすごく続きが読みたくなる魅力的なストーリーで、あきらかに物語モノでしたので楽しく読み進めることができました。
p
  | エスペラント四週間以外にもたくさんエスペラントの学習用の書籍はありますが、友人によれば「まるごとエスペラント入門」が良いらしいです。図書館での争奪戦に敗れて
  span.footnote 「エスペラント四週間」は私よりも年上のものが4冊程度配架されていて借り放題でした。
  | 、私はちょっとこれを手にすることはできなかったのですが。
p
  | 近頃だとインターネットにも学習の環境があります。特にオススメなのは「ドリル式エスペラント入門
  span.footnote: a(href="http://kurso.amikoj.net/") http://kurso.amikoj.net/
  | 」 です。各文法要素についての丁寧な説明と例題で理解を確認しながら進めることができ、すべての項目で高いクオリティがあります。他には沼津エスペラント協会
  span.footnote: a(href="http://www2.tokai.or.jp/esperanto/") http://www2.tokai.or.jp/esperanto/
  | が公開している「機能語リスト」「基本語彙リスト」が特に参考になります。
p このようにエスペラントに関しては十分な学習素材が用意されていますが、エスペラント学力検定を受けるとなると学力検定のページにある例題に取り組むことやエスペラント学力検定問題集に取り組むことが重要です。特に、例題には載っていない問題パターンが本試験には存在するので、問題集を購入されることをおすすめします。私は入手できずに、本番に見たことがない形式の問題に困惑することになりました。
p 最後に、会話問題への対策ですが、これは誰か知人に試験官役をお願いして練習をするしかないでしょう。ありえそうな問題を予想しておくと、実際にその問題が本番で出題されたりもします。そして発音ですが、「ことのはアムリラート」で学ぶと、ルカの発音で学習してしまうようです。CD付きの書籍などもありますので、試験官に「『ことのはアムリラート』をプレイしている人は発音がルカになるからすぐわかるね」と言われたくない場合はそちらの利用をおすすめします。

h2#juliamo-conclusion おわりに
p なんとかいろんなところと差別化しようとして「高専×エスペラント」を打ち出してみたはよいものの、書いてみたら完全に「エスペラント学力検定を受けてきた日記」になりました。ちょくちょく感じてはいたようですが、私は筆を執るということが随分苦手なようです。これでも努力に努力を重ねて、何度もこんな文章ではだめだと消し飛ばしながら書きました。ご容赦ください。
p さて、この文章にも残したように私はなんとかエスペラント学力検定の3級を手にしたわけですが、それももう執筆時点からみても3ヶ月ほどは昔の話になります。自分用に作った単語帳をやりなおしてみたらまるでわからなくて焦りました。今後もなんとかエスペラントの学習を続けて、2級や1級や KER試験に挑めるように精進していきたい所存です。
