p この文書では, SATソルバの利用方法, さらに理論から実装まで扱っていきます. SATソルバに興味がある方やSATソルバを利用してみたい方, SATソルバを作ってみたいという方の助けになれば幸いです.

nav.toc
  ol
    li: a(href="#s1") SATソルバとはなにか
    li: a(href="#s2") SATソルバの利用
    li: a(href="#s3") SATソルバの理論
    li: a(href="#s4") SATソルバの実装
    li: a(href="#s5") Reference
