h2#s5 Reference
p
  ul
    li
      |『SATソルバーの基礎』, 井上克巳, 田村直之, , 2010/01/01, 人工知能学会誌 25巻1号.
      p http://id.nii.ac.jp/1004/00007417/
      p SATソルバを勉強するにあたって一番始めに読んだものです.
    li
      | 『Handbook of Satisfiability』, Armin Biere, Marijn Heule, Hans Van Maaren, Toby Walsh, 2009/2/15,  Ios Pr Inc.
      p もはや私がほしい本です......

